/*************************************
This CSS Style-Sheet created by
T. J. Tkacik for 
Assignment 4 of COMP 426-f13
**************************************/


/*************************************
MeyerWeb Reset
**************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

/**************************************
Dev-Test CSS
**************************************/

 

/**************************************
Primary CSS
**************************************/

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 5px;
  font-size: 28px;
  font-weight: 600;
}

h3 {
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 24px;
  font-weight: 500;
}

.hidden {
	display: none;
}

.hide_child * {
	display: none;
}

em {
  font-style: italic;
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

strong {
  font-weight: bold;
}

body {
  box-sizing: content-box;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 740px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  overflow: auto;
}

div.inner {
  padding-bottom: 15px;
}

header, footer {
  padding: 10px 0px;
}

#main_content {
  padding-top: 15px;
}

#main_content_wrap > div:first-child {
	padding-top: 15px;
}

form {
	overflow: auto;
}

label {
	white-space: nowrap;
}

/**************************************
Coloring CSS
**************************************/

#header_wrap, #footer_wrap {
  color: #f2f2f2;
  background: #212121;
}

#main_content_wrap {
  color:#373737;
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content_wrap a:hover {
  color: #1C5C89;
  text-shadow: #81BEE9 0px 0px 1.5px;
}

#header_wrap a:hover, #footer_wrap a:hover, #main_content_wrap .actionBar a:hover {
  color: #56A0D3;
  text-shadow: #9DCAE9 0px 0px 1.5px;
}

a {
  text-decoration: none;
  color: #569FD3;
  text-shadow: none;
  
  transition: background 1s ease;
  transition: text-shadow .5s ease;
  -webkit-transition: background 1s ease;
  -webkit-transition: text-shadow .5s ease;
}

.toolHead {
	color: #f2f2f2;
	background: #212121;	
}

.actionBar {
	color: #f2f2f2;
	background: #424242;
}

input.invalid {
	color: red;
	font-weight: bold;
}

.toolBody > div:nth-child(even) {
	background-color: #CCCCCC;
}

/*.todo_body {
	background-color: #FFFFFF;
}*/

.todo_head:hover {
	background-color: #AAAAAA;
}

table caption, table thead {
	background-color: #BBBBBB;
	font-weight: bold;
}

/**************************************
Content Formatting CSS
**************************************/

.toolHead {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;	
}

.toolHead * {
	padding-left: 15px;
}

div.toolBody {
	border-bottom: 1px solid #424242;
	border-left: 1px solid #424242;
	border-right: 1px solid #424242;
	max-height: 1000px;
	overflow: auto;
}

form {
	padding: 5px;
}

.actionBar > div > * {
	margin: 3px;
}

.todo span {
	padding: 5px;
}

input.action {
	float: right;
}

.todo {
	text-align:justify;
}

.todo_title {
	font-size: 110%;
	font-weight: bold;
}

div.todo span {
	display: inline-block;
	cursor: default;
}

div.overdue {
	color: red;
}

div.complete > div.todo_head {
	text-decoration: line-through;
}

div.hide_body > div.todo_body {
	display: none;
}

div.todo span.todo_title {
	display: block;
}

span.todo_id {
	min-width: 6em;
}

span.todo_project {
	min-width: 6em;
}

span.todo_duedate {
	min-width: 6em;
}

span.todo_status {
	min-width: 6em;
}

span.todo_edit {
	min-width: 6em;
}

div.todo span.todo_note {
	width: 90%;
}

.todo_note input {
	width: 100%;
	max-width: 90%;
}
